{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Enter New Password{% endblock title %}
{% block content %}
  {% if validlink%}
    <h1>Set a new password</h1>
    <form method="POST">
      {% csrf_token %}
      {{form|crispy}}
      <input class = "btn btn-success" type = "submit" values = "Change my password">
    </form>
  {% else %}
  <h1>Invalid Link</h1>
  <p>
    See about trying again via
    <a href = {% url "password_reset" %}>Forgot your password?</a>
  </p>
  {% endif %}
{% endblock content %}