{% extends "base.html" %}

{% block title %}Articles{% endblock title %}

{% block content %}

  <a href = {% url "twit_new" %}>New Twit</a>

  {% for twit in twit_list %}
    <div class = "card">
      <div class = "card-header">
          &middot;
        <span class = "text-muted">
          by {{twit.author}} | {{twit.date}}
        </span>
      </div>
      <div class = "card-body">
        {{twit.body}}
      </div>
      <div class = "card-footer text-center text-muted">

        <a href = {% url "twit_edit" twit.pk%}>Edit</a>
        | <a href = {% url "twit_delete" twit.pk%}>Delete</a>
      </div>
    </div>
  {% endfor %}

{% endblock content %}