{% extends "base.html" %}

{% block title %}Articles{% endblock title %}

{% block content %}
  <a class = "btn btn-success ml-2" href = {% url "twit_new" %} >New Twit</a>

  <div class = "container-fluid">
  {% for twit in twit_list %}
    <div class = "card w-200">
      <div class = "card-header">
          &middot;
        <span class = "text-muted">
          by {{twit.author}} | <a href = {% url "twit_detail" twit.pk%}>Details</a>
        </span>
      </div>
      <div class = "card-body">

        {% if twit.image_url %}
        <p>
        <img src="{{twit.image_url}}" alt="Twit_Image">
        </p>
        {% endif %}

        <p>{{twit.body}}</p>

        <p>
          {% with user_likes=twit.likes.all %}
        <button
        data-id = "{{twit.id}}"
        data-action = "{% if user in user_likes%}un{%endif%}like"
        data-like-url = "{{twit.get_like_url}}"
        class = "btn btn-{% if user not in user_likes%}outline-{%endif%}primary like_button"
        >
        <i class="like_icon bi-hand-thumbs-up{% if user in user_likes %}-fill{% endif %}"></i>
        <span class = "like_count">{{user_likes|length}}</span>
        Likes
        </button>
        {% endwith %}
      </p>

      </div>
      <div class = "card-footer text-center text-muted">
        {% if twit.author == user %}
          <a href = {% url "twit_edit" twit.pk%}>Edit</a>
          | <a href = {% url "twit_delete" twit.pk%}>Delete</a>
        {% endif %}
      </div>

      <div class = "card-footer text-center text-muted">
        {% for comment in article.comments.all %}
        <p>
          <span class = "font-bold">
            {{comment.author}} &middot;
          </span>
          {{comment.text}}
        </p>
        {% endfor %}
      </div>

    </div>

    <br>
  {% endfor %}
  </div>

{% endblock content %}